---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% include "hero--home.njk" %}
<section>

{% set postslist = collections.posts | head(-6) %}
{% include "postslist.njk" %}
</section>
<section>
</section>
