---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<section class="md:col-span-2">
  {% set postslist = collections.posts | head(-6) %}
  {% include "postslist.njk" %}
  {% include "btn--load-more.njk" %}
</section>
<div class="md:col-span-1">
  {% include "widget--about.njk" %}
  {% include "widget--articles.njk" %}
  {% include "widget--tags.njk" %}
</div>
