---
title: Tags
permalink: /tags/
layout: layouts/single-col.njk
---

{% for tag in collections.tagList | filterTagList %}
{% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}
