---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/single-col.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p class="px-4 py-8"><a class="btn" href="{{ '/tags/' | url }}">See all tags</a></p>
