---
layout: layouts/base.njk
templateClass: tmpl-quote
title: Ship Quotes Components
description: Each component is a modular piece of code that matches a frontend user interface with interactive functionality (see Functions). Being modular allows code to be repeated dynamically within a View (see Views).
---

{% include "quote__login-bar.njk" %}
{% include "hero--quote.njk" %}

<div id="quote__components" class="max-w-4xl mx-auto px-4 pt-16 pb-0 text-lg md:text-xl md:py-16">
  <main id="main-content" aria-label="{{ title }}">
  <h2 class="block p-2 mb-6 border cursor-pointer hover:bg-gray-50">Search</h2>
  <div hidden>{% include "quote__search.njk" %}</div>
  <h2 class="block p-2 mb-6 border cursor-pointer hover:bg-gray-50">Add new form</h2>
  <div hidden>{% include "quote__add-new.njk" %}</div>
  <h2 class="block p-2 mb-6 border cursor-pointer hover:bg-gray-50">Tag cloud</h2>
  <div hidden>{% include "quote__tags.njk" %}</div>
  <h2 class="block p-2 mb-6 border cursor-pointer hover:bg-gray-50">Quote with Actions Bar</h2>
  <div hidden>{% include "quote__single-quote.njk" %}</div>
  <h2 class="block p-2 mb-6 border cursor-pointer hover:bg-gray-50">Title Bar with Sort</h2>
  <div hidden>{% include "quote__title-bar.njk" %}</div>
  </main>
</div>
