<div class="max-w-7xl mx-auto flex content-center justify-items-center justify-center my-8">
	<a href="{{ '/posts/' | url }}" alt="Archive of blog articles" class="btn">Browse all articles</a>
</div>
