<ul>
	<li><a href="{{ '/posts/' | url }}" alt="Archive of blog articles">Articles</a></li>
	<li><a href="{{ '/about/' | url }}" alt="Learn more about Claire Annan">About Me</a></li>
	<li><a href="{{ '/contact/' | url }}" alt="Contact form">Contact</a></li>
</ul>

<p>
Follow me on <a href="{{ 'https://twitter.com/cannandev' | url }}" alt="Archive of blog articles">Twitter</a> &amp;
<a href="{{ 'https://github.com/cannandev' | url }}" alt="Archive of blog articles">Github</a>
or just connect with me on <a href="{{ 'https://linkedin.com/in/ClaireAnnan' | url }}" alt="Archive of blog articles">LinkedIn</a>.
</p>

<small>&copy; Copyright 2021 Claire Annan, @cannandev. All rights reserved. Various trademarks held by their respective owners.</small>

<a href="{{ '/' | url }}"><img src="/img/logo-black.png" alt="Home of {{ metadata.title }}"></a>
