<div class="max-w-7xl mx-auto py-12 px-4 space-y-6">
	<div class="footer__links flex flex-col md:flex-row justify-between">
		<ul class="text-2xl pb-12 md:pb-0">
			<li><a href="{{ '/posts/' | url }}" alt="Archive of blog articles">Articles</a></li>
			<li><a href="{{ '/about/' | url }}" alt="Learn more about Claire Annan">About</a></li>
			<li><a href="{{ '/contact/' | url }}" alt="Contact form">Contact</a></li>
		</ul>

		<p class="text-2xl md:w-1/3 md:text-3xl md:mt-0 md:place-self-end md:text-right">
			Follow me on <a href="{{ 'https://twitter.com/cannandev' | url }}" class="underline text-indigo-200"
				title="My Twitter feed">Twitter</a>
			&amp;
			<a href="{{ 'https://github.com/cannandev' | url }}" class="underline text-indigo-200"
				title="My Github repositories">Github</a>
			or just connect with me on <a href="{{ 'https://linkedin.com/in/ClaireAnnan' | url }}"
				class="underline text-indigo-200" title="My LinkedIn page">LinkedIn</a>.
		</p>

	</div>
	<div class="footer__meta flex flex-col space-y-6 items-end md:flex-row md:justify-between">
		<small class="text-gray-200 md:w-1/2">&copy; Copyright {% currentYear %} Claire Annan, @cannandev. All rights reserved. Various
			trademarks
			held by their respective owners.</small>

		<a href="{{ '/' | url }}"><img class="h-10 w-auto" src="/img/logo-white.png" alt="Home of {{ metadata.title }}"></a>
	</div>
</div>
