<form action="https://getform.io/f/bc739ef0-73e3-4460-8e20-d9eac25cde85" method="POST" class="flex flex-col  pt-12 mb-24">
  <label for="name">Name (required)</label>
  <input type="text" name="name" class="border p-4 mb-4">
  <label for="email">Email (required)</label>
  <input type="email" name="email" class="border p-4 mb-4">
  <label for="message">Message (required)</label>
  <textarea name="message" id="message" cols="30" rows="10" class="border p-4 mb-4"></textarea>
  <button type="submit" class="btn self-center">Send</button>
</form>
