<a href="#main-content" alt="Skip link" class="sr-only focus:not-sr-only">Skip to main content</a>
<div class="max-w-7xl mx-auto px-4 sm:px-6">
  <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
    <div class="flex justify-start md:w-0 md:flex-1">
      <a href="{{ '/' | url }}">
        <span class="sr-only">{{ metadata.title }}</span>
        <img class="h-8 w-auto sm:h-10" src="/img/logo-black.png" alt="Home">
      </a>
    </div>
    <div class="-mr-2 -my-2 md:hidden">
        <!-- Mobile menu button-->
        <button type="button" id="mobileToggle"
          class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Heroicon name: outline/menu

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <!--
            Icon when menu is open.

            Heroicon name: outline/x

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
    </div>
    <!-- Desktop navigation -->
    <nav class="hidden md:flex items-end space-x-10 z-10">
      {%- for entry in collections.all | eleventyNavigation %}
      {% if entry.title == "Articles" %}
      <div id="navDropdown" class="relative">
        <button type="button" id="navDropdownToggle"
          class="text-gray-900 group bg-white rounded-md inline-flex items-center text-sm font-medium uppercase hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2"
          aria-expanded="false">
          <span id="articles-dropdown">{{ entry.title }}</span>
          <span class="sr-only">Open menu</span>
          <svg class="text-gray-500 ml-2 h-5 w-5 group-hover:text-gray-400" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd" />
          </svg>
        </button>
        <ul id="navDropdownLinks" class="hidden absolute w-52 py-8 px-3 -ml-3 space-y-5 bg-gray-50" role="navigation"
          arial-label="Article categories">
          {%- for article in collections.all | eleventyNavigation("Articles") %}
          <li class=""><a href="{{ article.url | url }}">{{ article.title }}</a></li>
          {%- endfor %}
        </ul>
      </div>
      {% else %}
      <a href="{{ entry.url | url }}" class="text-sm font-medium uppercase text-gray-900 hover:text-gray-500">
        {{ entry.title }}
      </a>
      {% endif %}
      {%- endfor %}
    </nav>
  </div>
  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="hidden" id="mobile-menu">
    <div class=" pt-2 pb-3 space-y-1">
      {%- for entry in collections.all | eleventyNavigation %}
        {% if entry.url == page.url %}
        <a href="{{ entry.url | url }}" class="block px-3 py-2 text-base font-medium"
          aria-current="page">
          {{ entry.title }}
        </a>
        {% else %}
        <a href="{{ entry.url | url }}" class="bg-gray-900 text-white block px-3 py-2 text-base font-medium">
        {{ entry.title }}
        </a>
        {% endif %}
        {% if entry.title == "Articles" %}
        <div class="flex flex-col">
          {%- for article in collections.all | eleventyNavigation("Articles") %}
          <a href="{{ article.url | url }}" class="pl-6 py-2 text-base font-medium {% if article.url == page.url %}bg-gray-100{% endif %}">
          {{ article.title }}
          </a>
          {%- endfor %}
        </div>
        {% endif %}
      {%- endfor -%}
    </div>
  </div>
</div>
