<a href="#main-content" alt="Skip link" class="sr-only focus:not-sr-only">Skip to main content</a>
<div class="max-w-7xl mx-auto px-4 sm:px-6">
  <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
    <div class="flex justify-start md:w-0 md:flex-1">
      <a href="{{ '/' | url }}">
        <span class="sr-only">{{ metadata.title }}</span>
        <img class="h-8 w-auto sm:h-10" src="/img/logo-black.png" alt="Home">
      </a>
    </div>
    <div class="-mr-2 -my-2 md:hidden">
      <!-- Mobile menu button-->
      <button type="button" id="mobileToggle"
        class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
        aria-controls="mobile-menu" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <!--
            Icon when menu is closed.

            Heroicon name: outline/menu

            Menu open: "hidden", Menu closed: "block"
          -->
        <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
        <!--
            Icon when menu is open.

            Heroicon name: outline/x

            Menu open: "block", Menu closed: "hidden"
          -->
        <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <!-- Desktop navigation -->
    <nav class="hidden md:flex items-end space-x-10 z-10">
      {%- for entry in collections.all | eleventyNavigation %}
      <a href="{{ entry.url | url }}" class="text-sm font-medium uppercase text-gray-900 hover:text-gray-500">
        {{ entry.title }}
      </a>
      {%- endfor %}
    </nav>
  </div>
  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="hidden" id="mobile-menu">
    <div class=" pt-2 pb-3 space-y-1">
      {%- for entry in collections.all | eleventyNavigation %}
      {% if entry.url == page.url %}
      <a href="{{ entry.url | url }}" class="block border border-gray-900 px-3 py-2 text-base font-medium"
        aria-current="page">
        {{ entry.title }}
      </a>
      {% else %}
      <a href="{{ entry.url | url }}" class="block bg-gray-900 text-white px-3 py-2 text-base font-medium">
        {{ entry.title }}
      </a>
      {% endif %}
      {%- endfor -%}
    </div>
  </div>
</div>
