<div class="hero">
	<div>
		<h1>Design for Devs</h1>
		<p>Provident temporibus adipisci ipsam non praesentium ea, mollitia reiciendis repellat labore, consequatur blanditiis nesciunt, libero voluptas odio...</p>
		<img src="/img/diverse-women.jpg" alt="Group of diverse women.">
	</div>
</div>
