<div class="hero">
	<article>
		<span>Design for Devs</span>
		<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id illum minima odit corrupti nesciunt saepe quidem, excepturi totam explicabo.</h1>
		<ul>
			<li>May 15, 2021</li>
			<li>111 Shares</li>
			<li>{{ 'text' | timeToRead }} min read</li>
		</ul>
		<p>Provident temporibus adipisci ipsam non praesentium ea, mollitia reiciendis repellat labore, consequatur blanditiis nesciunt, libero voluptas odio...</p>
		<a href="/">Read more button</a>
		<div class="article__img">
			<img src="/img/pen-tool-amico.png" alt="Black female designer with a giant pen and compass.">
		</div>
	</article>
</div>
