<div class="hero">
	<article class="article--featured">
		<span>{{ post.data.parent }}</span>
		<h1><a href="{{ post.url | url }}" class="postlist-link">
      {% if post.data.title %}
        {{ post.data.title }}
      {% else %}
        <code>{{ post.url }}</code>
      {% endif %}
    </a></h1>
		<ul>
			<li><time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></li>
			<li>111 Shares</li>
			<li>{{ 'text' | timeToRead }} min read</li>
		</ul>
		<p>{{post.data.description}}</p>
		<a href="/">Read more button</a>
		<div class="article__img">
			<img src="/img/pen-tool-amico.png" alt="Black female designer with a giant pen and compass.">
		</div>
	</article>
</div>
