<section class="md:relative bg-black overflow-hidden" aria-label="article">
	<article id="hero--post"
		class="max-w-7xl mx-auto bg-black flex flex-col justify-between md:flex-row md:items-center md:py-0"
		aria-labelledby="article-title">
		<div
			class="article__container flex flex-col space-y-6 px-4 py-16 justify-around items-start text-white md:mx-auto md:w-8/12 md:px-0">
			<span
				class="article__category-tuts text-white px-2 py-1 text-xs bg-red-800 uppercase tracking-widest">{{ parent }}</span>
			<h1 class="article__title font-serif text-4xl md:text-5xl md:pt-8">{{ title }}</h1>
			{% include "hero__meta.njk" %}
		</div>
	</article>
</section>
