<section class="md:relative bg-black overflow-hidden" aria-label="Collection of articles by category">
	<article id="hero--category"
		class="max-w-7xl mx-auto bg-black flex flex-col justify-between md:flex-row md:items-center md:py-0"
		aria-labelledby="category-title">
		<div class="category__container flex flex-col space-y-6 px-4 py-16 justify-around items-start text-white md:w-7/12">
			<h1 class="category__title font-serif text-4xl md:text-7xl md:pt-8">{{ title }}</h1>
		</div>
		{% if data.image %}
		<div class="border-t border-b border-gray-200 md:absolute md:bg-white md:inset-y-0 md:right-0 md:w-5/12">
			<img class="hero__img h-auto w-full object-cover md:h-96 lg:w-full lg:h-full"
				src="/img/{{ data.image.src | urlencode }}" alt="{{ data.image.alt }}" />
		</div>
		{% endif %}
	</article>
</section>
