<div class="hero">
	<article>
		<span>Post Category</span>
		<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id illum minima odit corrupti nesciunt saepe quidem, excepturi totam explicabo.</h1>
		<ul>
		<li>May 15, 2021</li>
		<li>111 Shares</li>
		<li>5 min read</li>
		</ul>
		<p>Provident temporibus adipisci ipsam non praesentium ea, mollitia reiciendis repellat labore, consequatur blanditiis nesciunt, libero voluptas odio...</p>
		<a href="/">Read more button</a>
	</article>
	<aside style="border: 1px dotted #000; width: 25%;">
		<h2>Something here</h2>
	</aside>
</div>
