<ol class="list-decimal ml-4">
  {% for post in postslist %}
    <li>
      <a href="{{ post.url | url }}" class="text-lg font-semibold font-serif">
        {% if post.data.title %}
          {{ post.data.title }}
        {% else %}
          <code>{{ post.url }}</code>
        {% endif %}
      </a>
    </li>
  {% endfor %}
</ol>
