{% for post in postslist | reverse %}
  <article class="postlist-item">
		<span>{{ post.data.parent }}</span>
		<h2><a href="{{ post.url | url }}" class="postlist-link">
      {% if post.data.title %}
        {{ post.data.title }}
      {% else %}
        <code>{{ post.url }}</code>
      {% endif %}
    </a></h2>
		<ul>
			<li><time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></li>
			<li>111 Shares</li>
			<li>{{ post.templateContent | timeToRead }} read</li>
		</ul>
		<p>{{post.data.description}}</p>
	</article>
{% endfor %}
