{% for post in postslist | reverse %}
<article class="flex flex-col justify-between md:py-0">
	{% if post.data.featured %}
	<!-- Not sure how to do an early return in nunjucks -->
	{% else %}
	<div class="article__container flex flex-col space-y-6 px-4 pt-16 pb-0 justify-around items-start text-black">
		<span
			class="article__category-tuts text-white px-2 py-1 text-xs bg-red-800 uppercase tracking-widest">{{ post.data.parent }}</span>
		<h2 class="article__title font-serif text-2xl md:text-4xl"><a href="{{ post.url | url }}" class="">
				{% if post.data.title %}
				{{ post.data.title }}
				{% else %}
				<code>{{ post.url }}</code>
				{% endif %}
			</a></h2>
		<ul class="article__meta flex flex-row space-x-6 text-xs uppercase">
			<li><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline mr-1 align-text-bottom" fill="none"
					viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
						d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
				</svg>
				<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | postDate }}</time>
			</li>
			<li><svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 inline mr-1 align-text-bottom" viewBox="0 0 20 20"
					fill="currentColor">
					<path
						d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z" />
				</svg>
				<span>111 Shares</span>
			</li>
			<li><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline mr-1 align-text-bottom" fill="none"
					viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
						d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
				</svg>
				<span>{{ post.templateContent | timeToRead }} read</span>
			</li>
		</ul>
		<p class="article__description text-lg md:text-xl">{{post.data.description}}</p>
	</div>
	{% endif %}
</article>
{% endfor %}
