<div id="login-bar">
  <a href="/login" class="btn inline-block">Login</a>
  <a href="/logoff" class="btn inline-block">Logoff</a>
  <a href="/quotes/add" class="underline inline-block ml-6">Add New Quote</a>
  <a href="/quotes/search" class="underline inline-block ml-6">Search</a>
  <a href="#" class="underline inline-block ml-6">Filter by Subject</a>
</div>
