<form action="https://getform.io/f/bc739ef0-73e3-4460-8e20-d9eac25cde85" method="POST"
  class="flex flex-col mb-12">
  <label class="font-medium" for="quote">Quote text (required)</label>
  <textarea name="message" id="message" cols="30" rows="10" class="border p-4 mb-4"></textarea>
  <label class="font-medium" for="author">Author</label>
  <input type="text" name="author" class="border p-4 mb-4">
  <label class="font-medium" for="title">Title</label>
  <input type="text" name="title" class="border p-4 mb-4">
  <label class="font-medium" for="page">Page number</label>
  <input type="number" name="page" maxlength="4" class="w-1/6 border p-4 mb-4">
  <label class="font-medium" for="reftype">Reference type</label>
  <select name="reftype" id="reftype" class="border p-4 mb-4">
    <option value=" Book">Book</option>
    <option value="Blog article">Blog article</option>
    <option value="Magazine article">Magazine article</option>
  </select>
  <label class="font-medium" for="link">Learn more link</label>
  <input type="url" name="link" class="border p-4 mb-4">
  <label class="font-medium" for="subject">Subject tags</label>
  <input type="text" name="subject" class="border p-4 mb-4">
  <div class="flex justify-end">
    <button type="reset" class="btn">Reset</button>
    <button type="submit" class="btn">Submit</button>
  </div>
</form>
