<div id="tag-cloud" class="max-w-7xl mx-auto px-6 mb-6">
  <a href="/tags/drupal/" class="post-tag">drupal</a>
  <a href="/tags/architecture/" class="post-tag">architecture</a>
  <a href="/tags/nunjucks/" class="post-tag">nunjucks</a>
  <a href="/tags/eleventy/" class="post-tag">eleventy</a>
  <a href="/tags/minorities-in-tech/" class="post-tag">minorities in tech</a>
  <a href="/tags/design/" class="post-tag">design</a>
  <a href="/tags/sketch/" class="post-tag">sketch</a>
  <a href="/tags/a11y/" class="post-tag">a11y</a>
  <a href="/tags/balsamiq/" class="post-tag">balsamiq</a>
  <a href="/tags/html/" class="post-tag">html</a>
  <a href="/tags/css/" class="post-tag">css</a>
  <a href="/tags/process/" class="post-tag">process</a>
  <a href="/tags/workflow/" class="post-tag">workflow</a>
  <a href="/tags/jekyll/" class="post-tag">jekyll</a>
  <a href="/tags/netlify-cms/" class="post-tag">netlify cms</a>
  <a href="/tags/i18n/" class="post-tag">i18n</a>
  <a href="/tags/javascript/" class="post-tag">javascript</a>
  <a href="/tags/performance/" class="post-tag">performance</a>
  <a href="/tags/interviews/" class="post-tag">interviews</a>
  <a href="/tags/reviews/" class="post-tag">reviews</a>
  <a href="/tags/spill-the-tea/" class="post-tag">spill the tea</a>
</div>
