<div id="login-bar" class="text-right max-w-7xl mx-auto px-6 mb-6">
  <a href="/add" class=" underline px-6 py-2 inline-block">Add New Quote</a>
  <a href="/login" class=" border bg-gray-100 px-6 py-2 inline-block">Login</a>
  <a href="/logoff" class=" border bg-gray-100 px-6 py-2 inline-block">Logoff</a>
</div>
