<form method="POST" class="flex mb-6">
  <label for="search" class="w-full">
    <span class="hidden">Search:</span>
    <input type="search" name="search" placeholder="Search for a word or phrase" class="border px-4 py-2 w-full">
  </label>
  <button type="submit" class="btn self-center ml-3">Search</button>
</form>
