<form method="POST" class="flex flex-col  pt-12 mb-24">
  <label for="name">Search for a word or phrase</label>
  <input type="search" name="search" class="border p-4 mb-4">
  <button type="submit" class="btn self-center">Search</button>
</form>
