<div id="quote">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis placeat incidunt cumque obcaecati
    magnam ipsa facilis cum asperiores, mollitia alias provident odio recusandae beatae exercitationem illo? Fuga harum
    reprehenderit minima?</p>
  <cite>by <a href="#"><strong>Author Name</strong></a> from <em>Title of Reference Work</em>, page 46</cite>
</div>
