<aside class="widget--about mx-auto bg-gray-100 p-8 space-y-3 lg:max-w-xl"
  aria-label="About Claire Annan">
  <h3 id="complementary-about" class="text-2xl font-serif font-semibold">Claire Annan</h3>
  <p class="text-sm">
    Also known as @cannandev, an Atlanta-based software engineer consultant specializing in Accessibility. She has over 20 years of backend and frontend development experience. She also enjoys traveling around the world and volunteering in the Portuguese-speaking community.
  </p>

  <div class="flex flex-row justify-between items-center">
    <a href="{{'/about/' | url}}" class="btn">Learn about</a>
    <img class="w-24 h-24 lg:hidden xl:inline-block rounded-full" src="/img/avatar-big-smile.svg"
      alt="Profile of Claire Annan aka @cannandev" />
  </div>
</aside>
