  <div class="widget--about">
    <h3>Claire Annan</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum enim sint aperiam. Cumque, consectetur. Deleniti dolorem esse optio vitae illum. Tenetur vel optio quam enim blanditiis quaerat necessitatibus unde quibusdam.</p>
    <a href="/">Read about</a>
    <img src="" alt="Profile of Claire Annan aka @cannandev">
  </div>
