<div class="md:flex bg-gray-200 rounded-xl p-8 md:p-0">
  <h3 class="text-xl font-serif font-semibold">Claire Annan</h3>
  <img class="w-32 h-32 md:w-48 md:h-auto md:rounded-none rounded-full mx-auto" src="/img/ca.jpg"
    alt="Profile of Claire Annan aka @cannandev" width="384" height="512">
  <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
    <p class="text-md pb-8">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, quis. Autem asperiores praesentium reiciendis,
      perspiciatis voluptas eveniet earum placeat nam! Consectetur sit placeat nihil alias quidem magni accusantium
      doloremque earum!
    </p>
    <a href="/" class="btn">Learn more</a>
  </div>
</div>
