<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="/style.css?v={% version %}" />
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml"
      title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json"
      title="{{ metadata.title }}">
    <link rel="icon" class="js-site-favicon" type="image/svg+xml" href="/img/favicon.ico">
  </head>

  <body>
    <div class="relative bg-white">
      <a href="#main-content" alt="Skip link" class="sr-only focus:not-sr-only">Skip to main content</a>
      <header>
        {% include "header.njk" %}
      </header>
      {% include "hero--featured.njk" %}
      <main id="main-content" class="{% if templateClass %}{{ templateClass }}{% endif %} max-w-7xl mx-auto lg:grid lg:grid-cols-3 lg:gap-8 xl:gap-24" >
        {{ content | safe }}
      </main>
      <footer class="bg-black text-white">
        {% include "footer.njk" %}
      </footer>
    </div>
  </body>

</html>
