---
layout: layouts/sidenav-col.njk
templateClass: tmpl-category
---

<div class="py-10">{{ content | safe }}</div>

{% set navPages = collections.all | eleventyNavigation( title ) | reverse %}
{% include "list.njk" %}
