---
layout: layouts/base.njk
templateClass: tmpl-quote
---

{% include "hero--quote.njk" %}

<main id="main-content" aria-label="{{ title }}" class="max-w-4xl mx-auto px-4 pt-16 pb-0 text-lg md:text-xl md:py-16">

{% if page.url == "/quotes/" %}
  {% include "quote__title-bar.njk" %}

  {# Loop through quotes. See _data/quotes.js #}
  {% for quote in quotes.documents %}
    {% set quoteData = {
      id: quote._id,
      title: quote.title,
      author: quote.author,
      text: quote.text,
      page: quote.page,
      type: quote.type,
      link: quote.link
    } %}
    {% include "quote__single-quote.njk" %}
  {% endfor %}

{% elif page.url == "/quotes/add/" %}
  {% include "quote__add-new.njk" %}
{% else  %}
  {# Markdown content (if any) #}
  {{ content | safe }}
{% endif %}

</main>
