---
layout: layouts/base.njk
templateClass: tmpl-sidenav
---
{% include "hero.njk" %}

<div
  class="{% if templateClass %}{{ templateClass }}{% endif %} max-w-7xl mx-auto lg:grid lg:grid-cols-3 lg:gap-8 xl:gap-24">
  <main id="main-content" class="lg:col-span-2 p-4" aria-label="All articles about {{ title }}">
    {{ content | safe }}
  </main>
  <div class="px-4 pt-16 lg:col-span-1 lg:px-4">
    {% include "widget--about.njk" %}
    {% include "widget--tags.njk" %}
  </div>
</div>
