---
layout: layouts/base.njk
templateClass: tmpl-single
---
{% include "hero.njk" %}

<div class="max-w-4xl mx-auto px-4 pt-16 pb-0 text-lg md:text-xl md:py-16">
  <main id="main-content" class="lg:col-span-2 p-4" aria-label="{{ title }}">
    {{ content | safe }}
  </main>
</div>
