@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .change {
    color: transparent;
  }
}

@layer components {
  .btn {
    @apply uppercase border border-white bg-black text-white px-8 py-3 text-xs tracking-widest;
  }
}
