@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .change {
    color: transparent;
  }
  .post-tag {
    @apply border border-gray-400 leading-8 mr-2 p-1 rounded-sm uppercase text-xs;
  }
}

@layer components {
  .btn {
    @apply uppercase border border-white bg-black text-white px-8 py-3 text-xs tracking-widest;
  }
  .widget__title {
    @apply text-xs font-medium text-gray-900 uppercase underline py-6 leading-loose;
  }
}
